{{set . "title" "Dom Visco : Tech Entrepreneur"}}
{{template "header.html" .}}

<header style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Search Goals</h1>
      <p>Exhaustive search for matching keywords</p>
    </div>
  </div>
</header>

<main style="margin-top: 2em">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <h4>Enter a search term</h4>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </div>
      </div>
    </div>
</main>
{{template "footer.html" .}}
